<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All in ZhihuDailyTests.swift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZhihuDaily.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A33C1261EC6BCA10033C4B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA6C9281EC1E9F30061F02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA6C93C1EC1E9F30061F02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
